go 1.18

// NB we use a different module to avoid automated dependency updates from CI
// since some of them currently introduce breaking changes, e.g. gocloud.dev
// depends on azblob v0.4.1 but v0.5.0 and higher has incompatible API changes.
//
// Nevertheless, Pulumi code generator and Terraform bridge introduce a crapton
// of dependencies, so we better keep them isolated.

use (
	.
	yandex
)
