name: Deps
on:
  workflow_dispatch:
  schedule:
    # At 06:00 UTC every day.
    - cron: '0 6 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.3.0
      - name: Set up Go
        uses: ./.github/actions/setup-go-with-cache
      - name: Update dependencies
        run: go run ./goupdate -test-short -o report.html
      - name: Read report
        uses: ./.github/actions/read-file
        id: report
        with:
          path: report.html
          delete: true
      - name: Create PR
        uses: peter-evans/create-pull-request@v4.2.4
        with:
          author: GitHub <actions@github.com>
          committer: GitHub <actions@github.com>
          commit-message: 'chore(deps): bump dependencies'
          branch: bump-deps
          delete-branch: true
          title: 'chore(deps): bump dependencies'
          body: |-
            Bumps all dependencies to the latest versions.

            ${{ steps.report.outputs.content }}
          labels: |-
            dependencies
            go
