name: Tidy
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.1
      - name: Set up Go
        uses: ./.github/actions/setup-go-with-cache
      - name: Install mockgen
        run: go install github.com/golang/mock/mockgen@v1.6.0
      - name: Run go mod tidy
        run: eval "$(go list -m -f '(cd {{printf "%q" .Dir}} && go mod tidy)')"
      - name: Run go work sync
        run: go work sync
      - name: Run go generate
        run: eval "$(go list -m -f '(cd {{printf "%q" .Dir}} && go generate ./...)')"
      - name: Check git diff
        run: git diff --exit-code
