name: Tidy
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.1
      - name: Set up Go
        uses: ./.github/actions/setup-go-with-cache
      - name: Install mockgen
        run: go install go.uber.org/mock/mockgen@v0.5.2
      - name: Run go mod tidy
        run: eval "$(go list -m -f '(cd {{printf "%q" .Dir}} && go mod tidy)')"
      - name: Run go work sync
        run: go work sync
      - name: Run go generate
        run: eval "$(go list -m -f '(cd {{printf "%q" .Dir}} && go generate ./...)')"
      - name: Check git diff
        run: git add --all --intent-to-add && git diff --exit-code
